<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weatherIcon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/dp.jpg"/>
            <p>This is {{charName}}</p>
        </div>
        

        {{>footer}}
    </body>
</html>