<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weatherIcon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Following are help</p>
            <ul>
                <li>{{option1}}</li>
                <li>{{option2}}</li>
                <li>{{option3}}</li>
            </ul>   
        </div>
        {{>footer}}   
    </body>
</html>